* {
  box-sizing: border-box;
}

body {
  height: 200vh;
  margin: 0;
  font-family: sans-serif;
  background: #f1f1f1;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: violet;
}

.borgir-kid {
  height: 250px;
}

.borgir-kid-1 {
  transform: scaleX(-1);
}

header h1 {
  font-size: 50px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item {
  background: white;
  padding: 20px 20px;
  margin: 40px 60px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 10px 10px 6px 1px rgba(0, 0, 255, 0.2);
}

.item img {
  background: violet;
  height: 250px;
}

.description p {
  font-size: 22px;
  color: grey;
}

.description button {
  width: 100%;
  padding: 10px 10px;
  border: none;
  background: rgba(0, 128, 128, 0.795);
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.description button:hover {
  background-color: teal;
}

/* header {
  position: relative;
  height: 200px;
  background-color: #f1f1f1;
  border: 2px solid black;
}

header img {
  float: left;
  height: 230px;
}

header h1 {
  float: right;
} */
